body {
    background-image: url("https://i.imgur.com/oC0AMsW.png"), url("https://cdn.wallpapersafari.com/55/79/pwXxUl.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px, cover;
    color: whitesmoke;
   }
   