// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Show it is fixed to the top */
body {
    background-image: url("http://fanaru.com/pokemon/image/17898-pokemon-light-ends.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
   }

 